* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: block;
}

h1,
h2 {
    text-align: center;
    padding-right: 8%;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    flex-direction: column;
}

section {
    flex-direction: row;
}


.winnings {
    border: 5px solid grey;

}

.spins {
    border: 5px solid grey;
}

.lights {
    height:60px;
    width: 500px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: grey;
    border: 5px solid grey;
    gap: 5px;
}
.steward {
    display: flex;
    height: 55px;
    justify-content: center;
    align-items: center;
}

.slot-row {
    height: 300px;
    width: 500px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: 5px solid grey;
    gap: 5px;
}

.slot {
    border: 5px solid black;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}


div>button {
    display: block;
    width: 150%;
    height: 10vh;
}

div {
    justify-content: center;
    align-items: center;
}

.child {
    display: inline-block;
}

img {
    width: 100%;
}